#block-text.block
  .content
    %h2 Dotazník II. část

    .inner
      - form_for @sheet, "/save_second/#{params[:uid]}", :method => :post do |f|
        - field_set_tag do
          %h3 5. Kolik byste byli ochotni zaplatit peněz za jednorázovou návštěvu Vašeho oblíbeného lesa, aniž byste se jí vzdali?
          %i prosím vypište
          = f.text_field :once_payment
          %label{:for => :once_payment} Kč
        - field_set_tag do
          %h3 6. Jakou částku byste byli ochotni jednorázově přijmout výměnou za trvalé znemožnění návštěvy Vašeho oblíbeného lesa?
          %i prosím vypište
          = f.text_field :once_receive
          %label{:for => :once_receive} Kč
        - field_set_tag do
          %h3 7. Jaká je podle vás významnost funkcí lesa v České republice?
          %i prosím určete významnost od nejvyšší 5 po nejnižší 1
          %br
          = f.select :important_wood, :options => num_options
          %label{:for => :important_wood} produkce a využití dříví 
          %br
          = f.select :important_gathering, :options => num_options
          %label{:for => :important_gathering} produkce a sběr lesních plodin (včetně hub a léčivých rostlin)
          %br
          = f.select :important_water, :options => num_options
          %label{:for => :important_water} vodohospodářské funkce
          %br
          = f.select :important_ground, :options => num_options
          %label{:for => :important_ground} půdoochranné funkce
          %br
          = f.select :important_climate, :options => num_options
          %label{:for => :important_climate} klimatické funkce
          %br
          = f.select :important_health, :options => num_options
          %label{:for => :important_health} zdravotně hygienické funkce (rekreační, zdravotní)
          %br
          = f.select :important_nature, :options => num_options
          %label{:for => :important_nature} přírodoochranné funkce
          %br
        - field_set_tag do
          %h3 8. Jaký je váš vztah k České zemědělské univerzitě v Praze?
          = f.radio_button :relation, :value => 'employee'
          %label{:for => :sheet_relation_employee} jsem zaměstnanec/zaměstnankyně
          %br
          = f.radio_button :relation, :value => 'student'
          %label{:for => :sheet_relation_student} jsem student/studentka
          %br
          = f.radio_button :relation, :value => 'none'
          %label{:for => :sheet_relation_none} žádný
        %p
          = f.submit 'Odeslat II. část', :class => 'button'

